<div class="login-container">
  <div class="sign-up">
    <div class="sign-up__text">
      アカウントをお持ちでない方はこちら
    </div>
    <div class="sign-up__link">
      <%= link_to "新規会員登録", new_user_registration_path, class: 'post'%>
    </div>
  </div>
  <div class="login-menu">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-menu__mail-form">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mail-form", placeholder: "   メールアドレス"%>
        </div>
        <div class="login-menu__btn">
          <%= f.submit "ログイン",class: "btn" %>
        </div>
      <% end %>
  </div>
</div>
