.wrapper{
  display: flex;
  background:rgb(245, 245, 245);
}
.side-nav-head{
  text-align: center;
  height: 50px;
  font-size: 23px;
  font-weight: bold;
  line-height: 50px;
}
.l-side__bar {
  width: 45%;
  margin: 30px 0;
}
.wrapper3 {
  width: 55%;
}
nav ul {
  list-style: none;
  text-decoration: none;
}

.l-side-bar{
  display: flex;
  }

.l-side-bar__list-item {
  position: relative;
  display: block;
  justify-content: center;
  height: 55px;
  line-height: 55px;
  background: #fff;
  font-size: 17px;
  color: #333;
  padding-left: 20px;
  width:80%;
  margin: 5px 55px;
  &.fa.fa-chevron-right{
    display: block;
    content: url(./arrow.png);
  }
}

a:-webkit-any-link {
text-decoration: none;
color:#333;
}


.fa-chevron-right:before {
content: "";
position: absolute;
right: 30px;
top: 20px;
}



.wrapper3{
  margin: 0 50px;
}
.member_photo{
  border-radius: 50%;
}
.news{
  margin: 0;
  margin-inline-end: unset;
  margin-inline-start: unset;
  width: 80%;
  &-tab{
    background-color:#eee;
    display:flex;
    padding-inline-start: unset;
    &__profile {
      position:relative;
      margin: 32px 0 5px 0;
      &__icon {
        position: absolute;
        top: 18%;
        left: 43%;

      }
    }
    &__active{
      font-size: 22px;
      font-weight:600px;
      width: 50%;
      text-align:center;
      background-color: white;
      height: 74px;
      line-height: 330%;
      border: none;
      cursor: pointer;
      &__notice{
        display: inline-block;
        width: 100%;
        border-top: 2px solid rgb(50, 212, 204);
        font-size: 16px;
        &:hover{
          color:gray;
        }
      }
    }
    &__activelist{
      background-color: #eee;
      font-size: 22px;
      font-weight:600px;
      width: 50%;
      border: none;
      cursor: pointer;
      &__notice{
        font-size:16px;
        &:hover{
          color: gray;
        }
      }
    }
  }
}

.logo-image{
  width: 50px;
  height: 50px;
}

.new__content{
  display: block;
  &__message {
    border: 1px solid #eee;
    color:#333;
    background-color: white;
    display: flex;
    position: relative;
    &:hover{
      background-color: #eee;
    }
    .fa.fa-chevron-right{
      float: right;
      position: absolute;
      top:35px;
      right: 10px;
    }
    .fa.fa-chevron-right{
      content: url(./arrow.png);
    }
    &__text{
      padding: 0 20px;
      line-height: 85px;
      word-wrap: break-word;
    }
    &__deal{
      display: block;
      margin-top: 80px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
.content-buy{
  margin: 40px 0 0;
  background:header-background;
  border: 1px solid #eee;
  &-head{
    padding: 0 16px;
    background-color: #fafafa;
    font-size:16px;
    line-height:72px;
    font-weight: bold;
  }
  &-tab{
    border:0px;
    background: #eee;
    height: 72px;
    display: flex;
    &-new{
      font-size: 16px;
      font-weight:600;
      text-align: center;            
      line-height: 5;
      &__latest{
        &:hover{
          color:silver;
        }
      }
    }
    &-low{
      border-top:2px solid red;
      background-color:white;
      width: 50%;
      font-size: 16px;
      font-weight: 600px;
      line-height: 5;
      text-align: center;
      &__past{
        font-weight: bold;
        &:hover{
          color: silver;
        }
      }
    }
  }
}


.profile-image {
  width:100%;
  height: 15%;
}

