.wrapper3{
  margin: 0 50px;
}


      .news{
        margin: 0;
        margin-inline-end: unset;
        margin-inline-start: unset;
        &-tab{
          background-color:#eee;
          display:flex;
          list-style: none;
          padding-inline-start: unset;
          &__profile {
            position:relative;
            border-radius: 70px;
            width: 130%;
            &__icon {
              position: absolute;
                top: 10%;
                left: 30%;
              }
              }
          &__active{
            font-size: 22px;
            font-weight:600px;
            width: 50%;
            text-align:center;
            background-color: white;
            height: 74px;
            line-height: 330%;
            border: none;
            cursor: pointer;
            &__notice{
              display: inline-block;
              width: 100%;
              border-top: 2px solid rgb(50, 212, 204);
              font-size: 16px;
              &:hover{
                color:gray;
              }
            }
          }
          &__activelist{
            background-color: #eee;
            font-size: 22px;
            font-weight:600px;
            width: 50%;
            border: none;
            cursor: pointer;
            &__notice{
              font-size:16px;
              &:hover{
                color: gray;
              }
            }
          }
        }
      }
        .new__content{
          display: block;
          &__message {
            border: 1px solid #eee;
            padding: 10px;
            color:#333;
            background-color: white;
            display: flex;
            position: relative;
            margin: 0 50px 0 0;
            &:hover{
              background-color: #eee;
            }
            img{
              width: 50px;
              height: 50px;
            }
            .fa.fa-chevron-right{
              float: right;
              position: absolute;
              top:50%;
              right: 1%;
            }
            &.fa.fa-chevron-right{
              content: url(./arrow.png);
            }
            &__text{
              width: 60%;
              line-height: 70px;
            }
          &__deal{
            display: block;
            margin-top: 80px;
            margin-top: 30px;
            margin-bottom: 30px;
            }
            }
            }

          
          
      
      .content-buy{
        margin: 40px 0 0;
        background:header-background;
        border: 1px solid #eee;
        &-head{
          padding: 0 16px;
          background-color: #fafafa;
          font-size:16px;
          line-height:72px;
          font-weight: bold;
        }
        &-tab{
          border:0px;
          background: #eee;
          height: 72px;
          display: flex;
          &-new{
            font-size: 16px;
            font-weight:600;
            text-align: center;            
            line-height: 5;
            &__latest{
              &:hover{
                color:silver;
              }
            }
          }
          &-low{
            border-top:2px solid red;
            background-color:white;
            width: 50%;
            font-size: 16px;
            font-weight: 600px;
            line-height: 5;
            text-align: center;
            &__past{
              font-weight: bold;
              &:hover{
                color: silver;
              }
            }
          }
        }
        &-buttom{
          width: 500px;;
          background-repeat: no-repeat;
          background-size: 70%;
        }    
      }


  figure {
      display: block;
      margin-inline-start: unset;
      margin-inline-end: unset;
      margin-bottom: unset;
  }


  .member_photo {
    border-radius: 70px;
    width: 60%;
    margin: 30%;
  }

  .logo-white_160 {
    width:30%;
    margin: 10% 40%;
  }

  .profile-image {
    width:77%;
  }

