.container2 {
  padding: 0 0 220px;
  display: block;
  background-color: #EEEEEE	;

  .form {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .required::after {
    content: '必須';
    color: white;
    background-color: red;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    margin: 0 0 0 8px;
    vertical-align: top;
  }
  .required-gray::after {
    content: '任意';
    color: white;
    background-color: #ccc;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    vertical-align: top;
  }

  .sell {
    width: 700px;
    background-color: white;
    margin: 0 auto;
    &__title {
      height: 97px;
      margin: auto;
      font-weight: 700;
      line-height: 1.5;
      text-align: center;
      border-top: solid 1px #EEEEEE;
      padding-top: 25px;
      font-size: 25px;
    }
    &__image {
      padding: 40px;
      border-top: solid 1px #EEEEEE;
      & label {
        font-size: 16px;
        font-weight: 600;
      }
      & .max {
        margin-top: 8px;
        line-height: 1.5;
      }
      &-select {
        position: relative;
        width: 622px;
        min-height: 162px;
        padding: 60px 40px;
        background-color: #f5f5f5;
        border: 1px dashed #ccc;
        margin-top: 16px;
        text-align: center;
        line-height: 1.5;
        font-size: 14px!important;
        font-weight: 600;
        letter-spacing: -2.3px;
        vertical-align: middle;
        cursor: pointer;
        &__ul {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          &-text {
            display: inline-block;
            float: left;
            height: 162px;
            width: 20%;
            right: 0px;
            cursor: pointer;
            opacity: 0;
            background-color: #f5f5f5;
            border-left: 1px dashed #ccc;
            border-right: 1px dashed #ccc;
            & li {
              width: 114px;
              height: 116px;
              margin: 0 auto;
              & img {
                object-fit: contain;
              }
            }
            & .btn-box {
              display: none;
              & a {
                display: inline-block;
                float: left;
                width: calc(50% - 1px);
                height: 44px;
                line-height: 44px;
                border: 1px solid #f0f0f0;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    &__about {
      height: 100%;
      margin-top: 1px;
      border-top: solid 1px #EEEEEE	;
      padding: 40px;
      & h3 {
        font-size: 14px;
        font-weight: bold;
      }
      &__description {
        font-size: 16px;
        margin-top: 40px;
        & textarea {
          width: 100%;
          min-height: 142px;
          padding: 10px;
          margin-top: 8px;
          border: 1px solid #ccc;
          line-height: 1.5;
        }
      }
    }
    &__about.clearfix {
      padding: 40px;
      // display: flex;
      .sell__about__left {
        width: 300px;
        color: #888;
        font-weight: bold;
      }
      .sell__about__right {
        width: 100%;
        &__wrap{
          margin-top: 40px; 
          .sell__about__right__wrap-box {
            position: relative;
            width: 100%;
            margin-top: 8px;
            & select {
              position: relative;
              padding: 0 16px;
              width: 100%;
              height: 48px;
              background-color: white;
              border: 1px solid #ccc;
              font-size: 16px;
              -webkit-appearance: none;
            }
          }
          .child {
            display: none;
          }
          .grand_child {
            display: none;
          }
          &__price {
            width: 100%;
            height: 60px;
            padding-bottom: 24px;
            display: flex;
            justify-content: space-between; 
            &-label {
            }
            &-input {
              display: flex;
              height: 100%;
              width: 150px;
              font-size: 20px;
              .text1 {
                margin-top:15px;
              }
              .sell__about__right__wrap__price-input-form{
                margin-left:10px;
                .form1 {
                  padding-right: 0px;
                  width: 100%;
                  height: 48px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  font-size: 16px;
                  text-align: right;
                }
              }
            }
          }
          &__fee {
            height: 40px;
            padding: 24px 0;
            border-top: 1px solid #ccc;

            &-left {
              float: left;
            }
            &-right {
              float: right;
            }
          }
          &__profit {
            height: 83px;
            padding: 24px 0;
            border-top: 1px solid #ccc;
            font-weight: 600;
            &-left {
              float: left;
              font-size: 16px;
            }
            &-right {
              float: right;
              font-size: 34px;
            }
          }
        }
      }
      .sell__about__bottom {
        line-height: 1.5;
        .sell__about__bottom-text{
          widows: 100%;
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
      .sell__about__bottom-botan{
        width: 100%;
        .botan-b {
          margin-top: 40px;
          background-color: #ea352d;
          display: block;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
          color: white;
          width: 100%;
        }
        .botan-c {
          width: 45%;
          margin-top: 40px;
          margin-left:170px;
          background-color: gray;
          display: block;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
          color: white;     
        }
      }
    }   
    .fas.fa-chevron-down{
      position: absolute;
      top: 18px;
      right: 8px;
    }
    a {
      color: lightblue;
      text-decoration: none;
    }
  }
}