.container {
  background-color: whitesmoke;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  height: 1600px;
  .main {
    height: 100%;
    background-color: whitesmoke;
  
    .inner {
      width: 700px;
      margin: 0 auto;
      background-color: white;

      h1 {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        padding-top: 32px;
        padding-bottom: 32px;
      }

      h2 {
        font-size: 22px;
        padding-top: 32px;
        padding-bottom: 10px;
        text-align: left;
        font-weight: bold;
      }

      .new_user {
        padding: 24px 16px;
        margin: 0 165px;
        background-color: white;

        .field {
          .field__input {
            height: 48px;
            padding: 10px 10px;
            margin-bottom: 20px;
            margin-top: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            line-height: 1.5;
            font-size: 16px;
            width: 100%;
            background-color:white;
          }
          select {
            background-color:white;
            height: 48px;
            margin-top: 10px;
          }
          select.year {
            width: 100px;
          }
          select.month {
            width: 85px;
            margin-left: 5px;
          }
          select.day {
            width: 85px;
            margin-left: 5px;
          }
          label {
            font-weight: bold;
          }
          span {
            background-color: #ea352d;
            color: white;
            font-size: 12px;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            vertical-align: top;
          }
          p {
            color: #888;
            font-size: 14px;
          }
          p.form-info {
            margin-top: 20px;
          }
        }
        .text {
          h2 {
            font-size: 16px;
          }
          p {
            margin-bottom: 30px;
            font-size: 14px;
          }
        } 
        .text2 {
          font-size: 14px;
          margin-bottom: 30px;
          text-align: center;

          p {
            margin-top: 50px;
          }
        }
        .mail-btn {
          font-size: 14px;
          color: white;
          text-decoration: none;
          background-color: #ea352d;
          display: block;
          width: 100%;
          line-height: 48px;
          border: 1px solid transparent;
          transition: all ease-out 3s;
          cursor: pointer;
          text-align: center;
        }
        .inner-form__content {
          width: 343px;
          background-color: red;
          color: red;
          margin-bottom: 25px;
          height: 30px;

          input {
            font-size: 14px;
            color: white;
            text-decoration: none;
            background-color: #ea352d;
            display: block;
            width: 100%;
            line-height: 48px;
            border: 1px solid transparent;
            transition: all ease-out 3s;
            cursor: pointer;
            text-align: center;
          }
        }

        .inner-form__right {
          height: 50px;
          width: 100%;
          padding-top: 15px;

          .register {
            text-decoration: none;
            color: deepskyblue;
            float: right;
            font-size: 15px;
          }
        }
        .text3 {
          height: 48px;
          width: 100%;
          background-color: whitesmoke;

          p {
            padding-top: 6px;
            padding: 10px;
            font-size: 8px;
            color: #888888;
          }
        }
      }
    }
  }
}