.wrapper{
    display: flex;
    background:rgb(245, 245, 245);

}


.l-side__bar {
    width: 45%;
    margin: 30px 0;
}
.wrapper3 {
    width: 55%;
}


nav ul {
list-style: none;
text-decoration: none;
}
.l-side-bar{
    align-items: center;
    display: flex;
        
    }
.l-side-bar__list-item {
position: relative;
display: block;
justify-content: center;
height: 55px;
line-height: 55px;
background: #fff;
font-size: 17px;
color: #333;
align-items: center;
padding-left: 20px;
width:80%;
margin: 5px 55px;
&.fa.fa-chevron-right{
display: block;
content: url(./arrow.png);
}
}

a:-webkit-any-link {
text-decoration: none;
color:#333;
}


.fa-chevron-right:before {
content: "";
position: absolute;
right: 30px;
top: 20px;
}