
    nav ul {
        list-style: none;
        text-decoration: none;
    }
    .l-side-bar{
        &__list-item {
        position: relative;
        display: block;
        min-height: 48px;
        padding: 5%;
        background: #fff;
        font-size: 14px;
        color: #333;
        width:80%;
        margin: auto;
        &.fa.fa-chevron-right{
        display: block;
        content: url(./arrow.png);
        position: absolute;
        right: 50px;
    }
    }
    }
    a:-webkit-any-link {
        text-decoration: none;
        color:#333;
    }

    // h3 {
    //     padding-top: 20px;
    //     padding-bottom: 10px;
    //     padding-left: 20%;
    // }

    .fa-chevron-right:before {
        content: "";
        position: absolute;
        right: 50px;
    }