
.toppage-header {
  padding: 0 60px;
  .header-container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    .header-main {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        .icon {
          width: 140px;
        }
      }
      &__searchbox {
        margin-left: auto;
        width: 100%;
        .search-form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .search-input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          .search-icon {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3ccace;
            .icon {
              width: 100%;
            }
          }
        }
      }
    }
    .nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .lists-left {
        position: relative;
        display: flex;
        &__item {
          .link-category {
            text-decoration: none;
            color: #333;
            line-height: 32px;
            background-position: center right;
            background-size: 18px;
            padding-right: 30px;
          }
          .link-brand {
            text-decoration: none;
            color: #333;
            line-height: 32px;
            background-position: center right;
            background-size: 18px;
            padding-right: 30px;
            padding-left: 18px;
          }
          .category {
            display: none;
            z-index: 2;
            position: absolute;
            background-color: #fff;
            width: 240px;
            top: 40px;
            &__tree {
              background-color: #fff;
              display: flex;
              flex-direction: column;
              position: relative;
              &--item {
                a {
                  color: #333;
                  text-decoration: none;
                  line-height: 32px;
                  background-position: center right;
                  background-size: 18px;
                  padding-right: 30px;
                }
              }
            }
          }
        }
      }
      .lists-right {
        margin-left: auto;
        display: flex;
        &__login {
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            line-height: 32px;
            color: #333;
          }
        }
        &__new {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            color: #333;
            display: flex;
            align-items: center;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.toppage-main {
  .main-visual {
    width: 100%;
    height: 560px;
    background-image: url(/material/pict/bg-mainVisual-pict_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content {
      margin: 0 auto;
      padding:  35px 0 0 0;
      width: 100%;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 18px;
        line-height: 1.77;
        color: #fff;
      }
      &__icon {
        display: flex;
        margin: 24px 0 0 0;
        a {
          margin-right: 10px;
          img {
            width: 180px;
            height: 53px;
          }
        }
      }
    }
  }
  .introduction {
    padding: 60px 20px;
    .head {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &:after {
        content: '';
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .introduction-lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      margin: 0 auto;
      width: 100%;
      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          span {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            margin: 0 5px 0 0;
            text-align: center;
            padding: 10px 20px;
            background-color: #3ccace;
            color: #fff;
          }
          img {
            width: 304px;

          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          text-align: center;
          span {
            color: #3ccace;
          }
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
          text-align: center;
        }
      }
      .list-last {
        width: 30%;
        margin: 16px 0 0;
        text-align: left;
        flex-direction: column;
        align-items: center;
        .__pict {
          position: relative;
          margin-bottom: 20px;
        }
        .__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
        }
        .__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .middle {
    background-image: url(/material/pict/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .middle-inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      text-align: left;
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;
      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__icon {
        display: flex;
        margin: 24px 0 0 0;
        a {
          margin-right: 10px;
          img {
            width: 180px;
            height: 53px;
          }
        }
      }
    }
  }
  .features {
    padding: 60px 100px;
    background-color: #fff;
    .head {
      text-align: center;
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &:after {
        content: '';
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .items {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          img {
            width: 182px;
            height: 280px;
          }
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200px;
          text-align: left;
        }
      }
    }
  }
}
.toppage-main2{
  background-color: #f8f8f8;
  padding-bottom: 80px;
  .pickup-container {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4;
    }
    .product-box {
      .product-head {
        text-align: center;
        .title {
          font-size: 24px;
          text-decoration: none;
          color: #3ccace;
          font-weight: bold;
        }
      }
      .product-lists {
        width: 100%;
        .product-list {
          width: 100%;
          display: inline-block;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 20px;
          .box {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            position: space-around;
            margin: 5px;
            .product-list__img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              .img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .product-list--body {
              background-color: white;
              color: #333;
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li {
                    .fa {
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                    }
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
// .pickup-container:last-child {
//   padding-bottom: 80px;
// }
.app-banner {
  background-image: url(/material/pict/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;

    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    &__icon {
        width: 100%;
        display: flex;
        margin: 20px auto 0;
        justify-content: center;
        a {
          margin-right: 10px;
          img {
            width: 180px;
            height: 53px;
          }
        }
      }
  }
}
.toppage-footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .footer-contents {
    margin: 0 auto;
    display: flex;
    max-width: 840px;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
.purchase-btn {
  width: 120px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}
