* {
  box-sizing: border-box;
}
body{
  position: relative;
  // height: 100vh;
}

.header {
  height:128px;
  text-align: center;
  img {
    margin: 40px 0 0;
    height: 60px;
    width: 180px;
  }
}

.main{
  width: 100%;
}

.footer {
  background-color: #272727;
  height: 150px;
  width: 100%;
  text-align: center;
  color: #fff;
  
  img {
    height: 60px;
    width: 180px;
    margin: 20px 0 0;
  }
}