<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample67e</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <img src="/material/logo/logo.png">
    </header>
    <main><%= yield %></main>
    <footer class="footer">
      <img src="/material/logo/logo-white.png">
      <p>© FURIMA</p>
    </footer>
  </body>
</html>

